<div class="container">
<% @locations.each do |l| %>
	<div class="location">
	  <!-- location for loop starts -->
	  <h2 class="placesTitle"><%= l.name %></h2>
	   <div class="row">
	   <!-- favorites loop -->
	    <% l.favorites.each do |f| %>
			<div class="col-sm-6 col-sm-4">
				<div class="infoBox">
					<img src="#" />
					<h3><%= f.title %></h3>
					<p><%= f.categories %></p>
					<address><%= f.vicinity %></address>
					<p><%= f.rating %></p>
					<% if f.price_level %>
					<p><%= f.price_level %></p>
					<% end %>
				</div>
				<div class="checkBox">
				 	<p>Been there, done that.</p>
				</div>
			</div>
		<% end %>
	  </div>
	</div>
<% end %>
</div>
 

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>

    $(function() {
    $(".location").show().accordion({
        active: false,
        autoHeight: false,
        navigation: true,
        collapsible: true
    });
    });
  </script>

