	<% weather_codes = ['weather-windgust','weather-tempest','weather-tempest','weather-tempest','weather-storm-32','weather-hail','weather-hail','weather-hail','weather-mistyrain','weather-mistyrain','weather-hail','weather-rain','weather-rain','weather-snow','weather-cloud-snowflake','weather-snow','weather-snow','weather-hail','weather-hail','weather-fog','weather-fog','weather-fog','weather-fog','weather-windgust','weather-wind', 'weather-snowflake','weather-cloud','weather-variable-halfmoon','weather-variable-sun','weather-variable-halfmoon','weather-variable-sun','weather-fullmoon','weather-sun','weather-moon','weather-sun','weather-hail','weather-sun','weather-cloud-lightning','weather-cloud-lightning','weather-cloud-lightning','weather-cloud-drop','weather-snowflake','weather-cloud-snowflake','weather-snowflake','weather-variable-fullmoon','weather-storm-32','weather-snow','weather-cloud-lightning',''
	] %>
<div id="results" class="resultsPage">
	<div class="section weatherBackground">
	<img src="<%= @f_background[0] %>" class="weatherImage">
    <!--currently not showing up -->
    <h2 class="location"><%= @location %></h2> 
    <!-- weather forecast -->
        <div class="weather-forecast">
            <div class="current-conditions">
                <%= @weather['condition']['date'] %><br>
                <% current_code = @weather['condition']['code'].to_i %><br>
                <span class="icon icon-<%= weather_codes[current_code] %>"></span><br>
                <span class="temp"><%= @weather['condition']['temp'] %></span><br>
                <%= @weather['condition']['text'] %><br>
            </div>

            <% @weather['forecast'].each do |day| %>
            <div class="daily-forecast">
                <span class="badge"><%= day['day'] %></span><br>
                <% code = day['code'].to_i %>
                <span class="icon icon-<%= weather_codes[code] %>"></span><br>
                <%= day['text'] %><br>
                <span class="temp-high"><%= day['high'] %></span><span class="temp-low"><%= day['low'] %></span>                
            </div>
            <% end %>
            

        </div>
    </div>
   <!-- end weather -->

    <div class="section rowParent"> 
	    <h2>Popular Food and Drink</h2>	
	    <% index = 0 %>	
		<% @google_restaurants.each do |restaurant| %>
			<% if restaurant["photos"] != nil && restaurant["name"] != nil && restaurant["price_level"] != nil && restaurant["rating"] && restaurant["vicinity"] != nil %>	
			<% if index % 4 == 0 %><div class="slide"><% end %>			
			<div class="column">
				<div class="columnImage"> 
					<img src="<%= @photo_prefix + restaurant["photos"][0]["photo_reference"] + @key %>" />	
				</div>
				<h3><%= restaurant["name"] %></h3>
				<p>Price Level: <%= restaurant["price_level"] %></p>
				<p>Rating: <%= restaurant["rating"] %></p>
				<p>Address: <%= restaurant["vicinity"] %></p>
				<%= bootstrap_form_for :favorite, url: '/places', html: { id: 'addPlace'} do |f| %>
		         <%= f.hidden_field :name, value: @location %>
		          <%= f.hidden_field :categories, value: restaurant['types'] %>
		         <%= f.hidden_field :title, value: restaurant['name'] %>
		         <%= f.hidden_field :price_level, value: restaurant['price_level'] %>
		          <%= f.hidden_field :rating, value: restaurant['rating'] %>
		          <%= f.hidden_field :vicinity, value: restaurant['vicinity'] %>
		          <%= f.hidden_field :img, value: restaurant["photos"][0]["photo_reference"] %>
		           <%= f.hidden_field :place_id, value: restaurant['place_id'] %>
	              <%= f.submit %>
	          <% end %>
			</div>
			<% if index % 4 == 3 %></div><% end %>
			<% index += 1 %>
			<% end %> <!-- end if -->
		<% end %> <!-- end google_restaurants loop -->
	</div> <!--end section -->
	</div>
    <div class="section rowParent">
    <h2>Arts</h2>
    <% art_index = 0 %>	
		<% @google_art.each do |item| %>
			<% if item["photos"] != nil && item["name"] != nil && item["rating"] && item["vicinity"] != nil %>
			<% if art_index % 4 == 0 %><div class="slide"><% end %>			
			<div class="column">
				<div class="columnImage"> 
					<img src="<%= @photo_prefix + item["photos"][0]["photo_reference"] + @key %>" />
				</div>	
				<h1><%= item["name"] %></h1>
					<p>Rating: <%= item["rating"] %></p>
					<p>Address: <%= item["vicinity"] %></p>
					<%= bootstrap_form_for :favorite, url: '/places', html: { id: 'addPlace'} do |f| %>
-                        <%= f.hidden_field :name, value: @location %>
-                        <%= f.hidden_field :categories, value: item['types'] %>
-                        <%= f.hidden_field :title, value: item['name'] %>
-                        <%= f.hidden_field :price_level, value: item['price_level'] %>
-                        <%= f.hidden_field :rating, value: item['rating'] %>
-                        <%= f.hidden_field :vicinity, value: item['vicinity'] %>
-                        <%= f.hidden_field :img, value: item["photos"][0]["photo_reference"] %>
-                        <%= f.hidden_field :place_id, value: item['place_id'] %>
						<%= f.submit %>
-                    <% end %>
				</div>
			<% if art_index % 4 == 3 %></div><% end %>
			<% art_index += 1 %>
			<% end %> <!-- end if -->
		<% end %> <!-- end google_restaurants loop -->
	</div> <!--end section -->
	</div>

    <div class="section rowParent"> 
	    <h2>Nightlife</h2>	
	    <% nightlife_index = 0 %>	
		<% @google_clubs.each do |club| %>
			<% if club["photos"] != nil && club["name"] != nil && club["price_level"] != nil && club["rating"] && club["vicinity"] != nil %>	

			<% if nightlife_index % 4 == 0 %><div class="slide"><% end %>			
			<div class="column">
				<div class="columnImage"> 
					<img src="<%= @photo_prefix + club["photos"][0]["photo_reference"] + @key %>" />	
				</div>
				<h3><%= club["name"] %></h3>
				<p>Price Level: <%= club["price_level"] %></p>
				<p>Rating: <%= club["rating"] %></p>
				<p>Address: <%= club["vicinity"] %></p>
				<%= bootstrap_form_for :favorite, url: '/places', html: { id: 'addPlace'} do |f| %>
		         <%= f.hidden_field :name, value: @location %>
		          <%= f.hidden_field :categories, value: club['types'] %>
		         <%= f.hidden_field :title, value: club['name'] %>
		         <%= f.hidden_field :price_level, value: club['price_level'] %>
		          <%= f.hidden_field :rating, value: club['rating'] %>
		          <%= f.hidden_field :vicinity, value: club['vicinity'] %>
		          <%= f.hidden_field :img, value: club["photos"][0]["photo_reference"] %>
		           <%= f.hidden_field :place_id, value: club['place_id'] %>
	              <%= f.submit %>
	          <% end %>
			</div>
			<% if nightlife_index % 4 == 3 %></div><% end %>
			<% nightlife_index += 1 %>
			<% end %> <!-- end if -->
		<% end %> <!-- end google_art loop -->
	</div> <!--end section -->	
</div> 


     









