
<div id="results" class="resultsPage">
	<div class="section">
	<!--currently not showing up -->
	<h2>Weather</h2> 

	<% weather_codes = ['weather-windgust','weather-tempest','weather-tempest','weather-tempest','weather-storm-32','weather-hail','weather-hail','weather-hail','weather-mistyrain','weather-mistyrain','weather-hail','weather-rain','weather-rain','weather-snow','weather-cloud-snowflake','weather-snow','weather-snow','weather-hail','weather-hail','weather-fog','weather-fog','weather-fog','weather-fog','weather-windgust','weather-wind', 'weather-snowflake','weather-cloud','weather-variable-halfmoon','weather-variable-sun','weather-variable-halfmoon','weather-variable-sun','weather-fullmoon','weather-sun','weather-moon','weather-sun','weather-hail','weather-sun','weather-cloud-lightning','weather-cloud-lightning','weather-cloud-lightning','weather-cloud-drop','weather-snowflake','weather-cloud-snowflake','weather-snowflake','weather-variable-fullmoon','weather-storm-32','weather-snow','weather-cloud-lightning',''
	] %>


	<%= @weather['title'] %><br>
	<%= @weather['lat'] %><br>
	<%= @weather['long'] %><br>
	<%= @weather['condition']['code'] %><br>
	<%= @weather['condition']['date'] %><br>
	<%= @weather['condition']['temp'] %><br>
	<%= @weather['condition']['text'] %><br>

	<% @weather['forecast'].each do |day| %>
	<br><br><br><br><br>
	<% code = day['code'].to_i %>
	<div class="icon icon-<%= weather_codes[code] %>"></div><br>
	<%= day['date'] %><br>
	<%= day['day'] %><br>
	<%= day['high'] %><br>
	<%= day['low'] %><br>
	<%= day['text'] %><br>
	<% end %>

	</div>
    
    <div class="section rowParent"> 
	    <h2>Popular Food and Drink</h2>	
	    <% index = 0 %>	
		<% @google_restaurants.each do |restaurant| %>
			<% if restaurant["photos"] != nil && restaurant["name"] != nil && restaurant["price_level"] != nil && restaurant["rating"] && restaurant["vicinity"] != nil %>	

			<% if index % 4 == 0 %><div class="slide"><% end %>			
			<div class="column">
				<div class="columnImage"> 
				<img src="<%= @photo_prefix + restaurant["photos"][0]["photo_reference"] + @key %>" />	
								<%= bootstrap_form_for :favorite, url: '/places', html: { id: 'addPlace'} do |f| %>
		-           <%= f.hidden_field :name, value: @location %>
		-           <%= f.hidden_field :categories, value: restaurant['types'] %>
		-           <%= f.hidden_field :title, value: restaurant['name'] %>
		-           <%= f.hidden_field :price_level, value: restaurant['price_level'] %>
		-           <%= f.hidden_field :rating, value: restaurant['rating'] %>
		-           <%= f.hidden_field :vicinity, value: restaurant['vicinity'] %>
		-           <%= f.hidden_field :img, value: restaurant["photos"][0]["photo_reference"] %>
		-           <%= f.hidden_field :place_id, value: restaurant['place_id'] %>
	-               <%= f.submit %>
	-           <% end %>






				</div>
				<h3><%= restaurant["name"] %></h3>
				<p>Price Level: <%= restaurant["price_level"] %></p>
				<p>Rating: <%= restaurant["rating"] %></p>
				<p>Address: <%= restaurant["vicinity"] %></p>
				

			</div>

			<% if index % 4 == 3 %></div><% end %>
			<% index += 1 %>

			<% end %> <!-- end if -->
			
			<% end %> <!-- end google_restaurants loop -->
			</div>
				
		
	</div>      









