
<div id="results">
	<div class="section" id="weather">
	<!--currently not showing up -->
	<img href="<%= @f_background[1] %>" />
	<h2>Weather</h2> 

	</div>
    
    <div class="section"> 
	    <h2>Popular Food and Drink</h2>
		<% @google_restaurants.each do |item| %>
		<% if item["photos"] != nil && item["name"] != nil && item["price_level"] != nil && item["rating"] && item["vicinity"] != nil %>
			<div class="slide">
				<div class="row">
				<!-- create a while loop to increment "i" and switch to a new slide once 1st loop has started, or so on -->
				
				<div class="col-sm-6 col-md-4">
					<h3><%= item["name"] %></h3>
					<p>Price Level: <%= item["price_level"] %></p>
					<p>Rating: <%= item["rating"] %></p>
					<p>Address: <%= item["vicinity"] %></p>
					<img class="resultsImage" src="<%= @photo_prefix + item["photos"][0]["photo_reference"] + @key %>" />
				<% end %>
				<!-- repeat looping process with new col-sm-6 col-md-4 -->
				</div>
			<% end %>
	    </div>
	    </div><!-- end slide -->

    </div>
    
    <div class="section">
    <h2>Arts</h2>
		<% @google_art.each do |item| %>
			<% if item["photos"] != nil && item["name"] != nil && item["rating"] && item["vicinity"] != nil %>
		<div class="well">
			<h1><%= item["name"] %></h1>
			<p>Rating: <%= item["rating"] %></p>
			<p>Address: <%= item["vicinity"] %></p>
			<p>Photo ref: <img src="<%= @photo_prefix + item["photos"][0]["photo_reference"] + @key %>" /></p>
		</div>
			<% end %>
		<% end %>
    </div>
    
    <div class="section">
    <h2>Nightlife</h2>
		<% @google_clubs.each do |item| %>
			<% if item["photos"] != nil && item["name"] != nil && item["rating"] && item["vicinity"] != nil %>
		<div class="well">
			<h1><%= item["name"] %></h1>
			<p>Rating: <%= item["rating"] %></p>
			<p>Address: <%= item["vicinity"] %></p>
			<p>Photo ref: <img src="<%= @photo_prefix + item["photos"][0]["photo_reference"] + @key %>" /></p>
		</div>
			<% end %>
		<% end %>	
    </div>    
</div>








