
<div id="results">
	<div class="section">Weather</div>
    
    <div class="section"> 
    <h1>Popular Food and Drink</h1>
	   <% @google_restaurants.each do |item| %>
			<% if item["photos"] != nil && item["name"] != nil && item["price_level"] != nil && item["rating"] && item["vicinity"] != nil %>
			<div class="well">
				<h1><%= item["name"] %></h1>
				<p>Price Level: <%= item["price_level"] %></p>
				<p>Rating: <%= item["rating"] %></p>
				<p>Address: <%= item["vicinity"] %></p>
				<p>Photo ref: <img src="<%= @photo_prefix + item["photos"][0]["photo_reference"] + @key %>" /></p>
			</div>
			<% end %>
		<% end %>
    </div>
    
    <div class="section">
    <h1>Arts</h1>
		<% @google_art.each do |item| %>
			<% if item["photos"] != nil && item["name"] != nil && item["rating"] && item["vicinity"] != nil %>
		<div class="well">
			<h1><%= item["name"] %></h1>
			<p>Rating: <%= item["rating"] %></p>
			<p>Address: <%= item["vicinity"] %></p>
			<p>Photo ref: <img src="<%= @photo_prefix + item["photos"][0]["photo_reference"] + @key %>" /></p>
		</div>
			<% end %>
		<% end %>
    </div>
    
    <div class="section">
    <h1>Nightlife</h1>
		<% @google_clubs.each do |item| %>
			<% if item["photos"] != nil && item["name"] != nil && item["rating"] && item["vicinity"] != nil %>
		<div class="well">
			<h1><%= item["name"] %></h1>
			<p>Rating: <%= item["rating"] %></p>
			<p>Address: <%= item["vicinity"] %></p>
			<p>Photo ref: <img src="<%= @photo_prefix + item["photos"][0]["photo_reference"] + @key %>" /></p>
		</div>
			<% end %>
		<% end %>	
    </div>    
</div>








