<div class="container" style="margin-bottom: 150px">
<!-- location for loop starts -->
<% @locations.each do |l| %>
	<div class="location">
	
	  <div class="placesTitle">
	  <div class="location-favorites">
	  	<span class="badge"><%= l.favorites.count %> Favorites</span>
	  </div>
	  <div class="location-delete">
	  	<span class="badge">Delete</span>
	  </div>
		  <h2>
		  <%= l.name %>
		  </h2>
	  </div>

	   <div class="row">
	   <!-- favorites loop -->
	    <% l.favorites.each do |f| %>
			<div class="col-sm-6 col-sm-4">
				<div class="infoBox">
					<img src="<%= @photo_prefix + f.img + @key %>" />
					<h3><%= f.title %></h3>
					<p><%= f.categories %></p>
					<address><%= f.vicinity %></address>
					<p><%= f.rating %></p>
					<% if f.price_level %>
					<p><%= f.price_level %></p>
					<p><%= link_to 'Delete', places_path, class: 'btn btn-danger', place_id: , method: :delete %></p>
					<% end %>
				</div>
				<div class="status">
<!-- 					<%= bootstrap_form_for :favorite do |favorite| %>
						<% if f.status == true %>
						<%= label_tag(:status, "Been there, done that!") %>
						<%= check_box_tag :status, f.status, true, disabled: false, :checked_value => true, :unchecked_value => false, :class => 'status-box' %>
						<% else %>
						<%= label_tag(:status, "Gotta see it!") %>
						<%= check_box_tag :status, f.status, false, disabled: false, :checked_value => true, :unchecked_value => false, :class => 'status-box' %>
						<% end %>
				 	<% end %> -->
				</div>
			</div>
		<% end %>
	  </div>
	</div>
<% end %>
</div>
 

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>

  	$('.status-box').on('click', function(){
  		console.log('clicked!')
  		data = $('this').val();
  		url = "/favorites/" + ""
  		$.ajax({
		    url: url,
		    method: "POST",
		    data: d,
		    success: function(resp){ }
		});
  	});

    $(function() {
    $(".location").show().accordion({
        active: false,
        autoHeight: false,
        navigation: true,
        collapsible: true
    });
    });
  </script>

